.add-category-form {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    &__title {
        margin: 0;
    }
    &__loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    &__error {
        color: red;
        font-size: 12px;
        margin-bottom: 10px;
    }
    fieldset {
        border: none;
        padding: 0;
        margin: 0 0 10px 0;
        label {
            display: block;
            margin-bottom: 5px;
            font-size: 12px;
            font-weight: 600;
        }
        input {
            width: 100%;
            height: 2rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            // margin-bottom: 10px;
            background: #fff;
            color: #0a0c19;
            padding: 0.5rem;
            font-size: 12px;
            outline: none;
        }
        textarea {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            // margin-bottom: 10px;
            background: #fff;
            color: #0a0c19;
            padding: 0.5rem;
            font-size: 12px;
            outline: none;
        }
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 20px;
       
        button {
            margin-left: 10px;
            background: #47617c;
            display: inline-block;
            width: 60px;
            text-align: center;
            font-size: 12px;
            border-radius: 5px;
        }
    }
}