.sidebar {

    border-radius: 5px;
    text-align: left;
    background: #fff;
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20px);
    .sidebar__header {
        font-size: .90rem;
        font-weight: 600;
        margin-bottom: 1rem;
        padding: 0px 20px;
    }

    .sidebar__menu {
        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
            li {
                &.sidebar__menu__item {
                    padding: 15px 20px;
                    display: flex;
                    cursor: pointer;
                    border-bottom: #f9f9f9 1px solid;
                    font-weight: 500;
                    font-size: 14px;
                    align-items: center;
                    transition: all .2s ease-in-out;
                    &:last-child {
                        border-bottom: none;
                    }
                    &:hover {
                        color: #47617c;
                        background: rgba($color: #ccc, $alpha: .1);
                    }
                    &.active {
                        color: #47617c;
                        // background: #f9f9f9;
                        border-radius: 5px;
                        .sidebar__menu__item__icon {
                            background: #47617c;
                            color: #fff;
                        }
                    }
                    .sidebar__menu__item__icon {
                        margin-right: 1rem;
                        background: #ebedea;
                        padding: 8px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: background .3s ease-in-out;
                    }
                }
            }
        }
    }

}